<!doctype html>
<title>SkyCrawler</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-grid.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-reboot.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='skycrawler.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script id="flight-info-template" type="text/x-custom-template">
    <div class="list-group-item list-group-item-action flex-column align-items-start flight-info">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1" id="origin-destination">Origin-Destination</h5>
            <i class="fa fa-close" style="font-size:24px" id="close"></i>
        </div>
        <div id="flight-details">
        </div>
    </div>
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ url_for('static', filename='price_checker.js') }}"></script>
<div class="container">
    <div class="header">
        <h3 class="text-info mb-auto">SkyCrawler - Price Checker</h3>
        <h4 class="mb-auto">실시간 항공사 가격 조회 프로그램</h4>
    </div>

    <div class="main">
        <form id="new-flight" method="post" action="#">
            <div class="row">
                <div class="col">
                    <h4 class="mb-3">Add New Flight</h4>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label for="origin">출발 공항 코드</label>
                    <input type="text" class="form-control" name="origin" id="origin" placeholder="예: ICN"
                           style="text-transform:uppercase" required>
                </div>
                <div class="col form-group">
                    <label for="destination">도착 공항 코드</label>
                    <input type="text" class="form-control" name="destination" id="destination" placeholder="예: NRT"
                           style="text-transform:uppercase" required>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label for="base-date">기준일 (D-0)</label>
                    <input type="text" class="form-control" name="base-date" id="base-date" placeholder="yyyy.mm.dd"
                           required>
                </div>
                <div class="col form-group">
                    <label for="returning">체류기간 (기준일 기준 D+X)</label>
                    <input type="number" class="form-control" name="returning" id="returning" placeholder="D+일수">
                    <small id="returning-help" class="form-text text-muted">편도인 경우 빈칸 입력</small>
                </div>
                <div class="col form-group">
                    <label for="base-date-after">기준일+x (D+x)</label>
                    <input type="number" class="form-control" name="base-date-after" id="base-date-after"
                           placeholder="0일">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block" id="btn-add">Add</button>
                </div>
            </div>
        </form>
        <p></p>
        <div class="row">
            <div class="col alert-danger alert" id="flash" role="alert">
                Message goes here
            </div>
        </div>
    </div>


    <div class="main">
        <div class="row">
            <div class="col">
                <h4 class="mb-3">Flights</h4>
            </div>
        </div>

        <div class="list-group" id="flight-infos">
        </div>

    </div>


    <footer class="footer">
        <p>Created by wns349</p>
    </footer>

</div> <!-- /container -->
