<!doctype html>
<title>SkyCrawler</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-grid.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-reboot.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='skycrawler.css') }}">

<script id="flight-info-template" type="text/x-custom-template">
    <div class="list-group-item list-group-item-action flex-column align-items-start flight-info">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1" id="origin-destination">Origin-Destination</h5>
            <h5 class="mb-auto" id="dates">Flight Dates</h5>
            <button type="button" id="close" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="flights-available">
        <ol class="mb-auto" id="flights">
        </ol>
        <p>
        <h5 class="mb-auto"><a href="#" id="external-link" target="_blank">Expedia 에서 확인하기</a></h5>
        </p>
        <small><i>Last updated: <span id="updated_at"></span></i></small>
        </div>
        <div id="flights-not-available">
            <h5 id="error">Loading...</h5>
        </div>
    </div>
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="{{ url_for('static', filename='skycrawler.js') }}"></script>
<div class="container">
    <div class="header">
        <h3 class="text-info mb-auto">SkyCrawler</h3>
        <h4 class="mb-auto">Expedia.co.kr 에서 실시간 가격을 크롤링하는 프로그램</h4>
        <div class="text-right">
            <small class="mb-auto">Status: <label class="text-info" id="lbl-status">OK</label></small>
        </div>
    </div>

    <div class="main">
        <form id="new-flight" method="post" action="#">
            <div class="row">
                <div class="col">
                    <h4 class="mb-3">Add New Flight</h4>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label for="origin">출발 공항 코드</label>
                    <input type="text" class="form-control" name="origin" id="origin" placeholder="예: ICN" required>
                </div>
                <div class="col form-group">
                    <label for="destination">도착 공항 코드</label>
                    <input type="text" class="form-control" name="destination" id="destination" placeholder="예: NRT"
                           required>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label for="departing">가는날</label>
                    <input type="text" class="form-control" name="departing" id="departing" placeholder="yyyy.mm.dd"
                           required>
                </div>
                <div class="col form-group">
                    <label for="returning">오는날</label>
                    <input type="text" class="form-control" name="returning" id="returning" placeholder="yyyy.mm.dd">
                    <small id="returning-help" class="form-text text-muted">편도인 경우 빈칸 입력</small>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block" id="btn-add">Add</button>
                </div>
            </div>
        </form>


        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>


    <div class="main">
        <div class="row">
            <div class="col">
                <h4 class="mb-3">Monitoring Flights</h4>
            </div>
        </div>

        <div class="list-group" id="flight-infos">
        </div>

    </div>


    <footer class="footer">
        <p>Created by wns349</p>
    </footer>

</div> <!-- /container -->
