<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/skycrawler.css" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/skycrawler.js"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <h3 class="text-info mb-auto">SkyCrawler</h3>
        <h4 class="mb-auto">Expedia.co.kr 에서 실시간 가격을 크롤링하는 프로그램</h4>
        <div class="text-right">
            <small class="mb-auto">Status: <label class="text-info" id="lbl-status">OK</label></small>
        </div>
    </div>

    <div class="marketing">
        <div class="row">
            <div class="col">
                <h4 class="mb-3">Add New Flight</h4>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="origin">출발 공항 코드</label>
                <input type="text" class="form-control" id="origin" placeholder="예: ICN" required>
            </div>
            <div class="col form-group">
                <label for="destination">도착 공항 코드</label>
                <input type="text" class="form-control" id="destination" placeholder="예: NRT" required>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="departing">가는날</label>
                <input type="text" class="form-control" id="departing" placeholder="yyyy.mm.dd" required>
            </div>
            <div class="col form-group">
                <label for="returning">오는날</label>
                <input type="text" class="form-control" id="returning" placeholder="yyyy.mm.dd">
                <small id="returning-help" class="form-text text-muted">편도인 경우 빈칸 입력</small>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary btn-block" id="btn-add">Add</button>
            </div>
        </div>
    </div>


    <div class="main">
        <div class="row">
            <div class="col">
                <h4 class="mb-3">Monitoring Flights</h4>
            </div>
        </div>

        <div class="list-group">
            <div class="list-group-item list-group-item-action flex-column align-items-start flight-info">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">ICN - NRT</h5>
                    <h5 class="mb-auto">2018.06.22 - 2018.06.25</h5>
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <ol class="mb-auto">
                    <li>이스타항공 (15:00 - 16:32) 132,000원</li>
                    <li>이스타항공 (15:00 - 16:32) 132,000원</li>
                    <li>이스타항공 (15:00 - 16:32) 132,000원</li>
                    <li>이스타항공 (15:00 - 16:32) 132,000원</li>
                    <li>이스타항공 (15:00 - 16:32) 132,000원</li>
                </ol>
                <small><i>Last updated: 2018.06.04 18:00</i></small>
            </div>

            <div class="list-group-item list-group-item-action flex-column align-items-start flight-info">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">ICN - NRT</h5>
                    <h5 class="mb-auto">2018.06.22 - 2018.06.25</h5>
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <ol class="mb-auto">
                    <li>이스타항공 (15:00 - 16:32) 132,000원</li>
                    <li>이스타항공 (15:00 - 16:32) 132,000원</li>
                    <li>이스타항공 (15:00 - 16:32) 132,000원</li>
                    <li>이스타항공 (15:00 - 16:32) 132,000원</li>
                    <li>이스타항공 (15:00 - 16:32) 132,000원</li>
                </ol>
                <small><i>Last updated: 2018.06.04 18:00</i></small>
            </div>
        </div>

    </div>


    <footer class="footer">
        <p>Created by wns349</p>
    </footer>

</div> <!-- /container -->
</body>
</html>